@import "../../../styles/AdditionalStyles/Mixins/mixins.scss";

.footer__menu {
    margin-bottom: clamp(1.25rem, 0.93rem + 1.6vw, 2.5rem);
}

.menu-footer__title {
    color: $goldColor;
    font-family: $fontFamilySecond;
    font-size: 20px;
    
    &:not(:last-child) {
        margin-bottom: 15px;
    }
}

.menu-footer__list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px clamp(0.938rem, 0.506rem + 2.16vw, 2.625rem);
    @media (max-width: $mobile) {
        justify-content: center;
        gap: 10px clamp(0.875rem, -1.989rem + 14.32vw, 4.875rem);
    }
}

.menu-footer__link {
    font-weight: 300;
    line-height: 1.56;
    display: inline-block;
    color: $goldColor;

    position: relative;
    z-index: 1;
    @media (any-hover: hover) {
        transition: opacity 0.5s ease;
        &:hover {
            opacity: 0.7;
        }
    }
}