@import "../../../styles/AdditionalStyles/Mixins/mixins.scss";

.services {
    @media (max-width: $mobile) {
        &::before {
            content: "";
            background: none;
        }
    }
}

.services__container {
    position: relative;
    z-index: 5;
    display: flex;
    align-items: center;
    gap: 0 clamp(2.5rem, -5.261rem + 16.19vw, 10.625rem);
    @media (max-width: $tablet) {
        flex-direction: column;
    }
}

.services__img {
    @media (max-width: $tablet) {
        display: flex;
        justify-content: center;
        order: 2;
    }
    & img {
        padding: clamp(0.625rem, 0.465rem + 0.8vw, 1.25rem);
        border: 1px solid rgb(224, 224, 224);
        filter: drop-shadow(10px 10px 10px rgba(60, 38, 12, 0.35));
        padding: 15px;
        max-width: 100%;
        @media (max-width: $tablet) {
            max-width: 80%;
        }
    }
}

.services__content {
    flex-basis: 460px;
    @media (max-width: $tablet) {
        flex-basis: 0px;
        margin-bottom: 50px;
    }
}

.services__block-header {
    @media (max-width: $tablet) {
        justify-items: center;
        max-width: 80%;
        margin: 0 auto;
    }
    color: rgb(224, 224, 224);
    .block-header__text {
        line-height: 1.56;
    }
    
}


  