@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

$fontFamily: "Montserrat", sans-serif;
$fontFamilySecond: "Italiana", sans-serif;

$mainColor: #222220;
$goldColor: #9d875c;
$backgroundGold: #c1ab81;
$backgroundColor: #222220;
$headerScroll: rgb(255, 226, 172);

$minWidth: 320px;
$maxWidth: 1920px;
$maxWidthContainer: 1572px;
$containerPadding: 0px;
$containerWidth: $maxWidthContainer + $containerPadding;

$pc: $containerWidth;
$tablet: 991.98px;
$mobile: 767.98px;
$mobileSmall: 479.98px;

