@import "../../../styles/AdditionalStyles/Mixins/mixins.scss";

.about-us {
    opacity: 1;
    // min-height: 100dvh;
    // position: relative;
    // &::before {
    //     content: "";
    //     position: absolute;
    //     background: url("/images/about-us/bg.png") no-repeat;
    //     background-size: cover;
    //     top: 0;
    //     left: 0;
    //     width: 100%;
    //     height: 100%;
    //     opacity: 0.1;
    //     transform: rotate(180deg) scaleX(-1);
    // }
}

.about-us__container {
    position: relative;
    z-index: 50;
    // padding-top: clamp(2.5rem, 0.26rem + 11.2vw, 11.25rem) !important; CORRECT PADDING BEFORE PARALLAX
    // padding-bottom: clamp(1.875rem, 1.075rem + 4vw, 5rem) !important; CORRECT PADDING BEFORE PARALLAX
}

.about-us__body {
    display: grid;
    grid-template-columns: 51% 1fr;
    @media (max-width: $tablet) {
        grid-template-columns: auto;
        row-gap: 60px;
        
    }
    align-items: center;
    gap: 0 clamp(1.875rem, -4.539rem + 13.22vw, 8.438rem);
    margin-bottom: clamp(1.563rem, 0.394rem + 5.84vw, 6.125rem);

}

.about-us__image {
    @media (max-width: $tablet) {
        margin: 0 auto;
        order: 2;
    }
    & img {
        padding: clamp(0.5rem, 0.34rem + 0.8vw, 1.125rem);
        border: 1px solid $goldColor;
        max-width: 100%;
    }
}

.about-us__content {
    max-width: 500px;
    @media (max-width: $tablet) {
        max-width: 85%;
        margin: 0 auto;
        order: 1;
    }
}

// .about-us__services {

// }

.services-about-us {
    display: grid;
    grid-template-columns: repeat(3, auto);
    max-width: 1324px;
    margin: 0 auto;
    justify-content: space-around;
    @media (max-width: 510px) {
        grid-template-columns: auto;
        justify-content: center;
        gap: 40px 0;
    }
}

.services-aobut-us__item {
    display: grid;
    gap: 30px;
    justify-items: center;
    @media (max-width: 510px) {
        gap: 10px;
    }
}


.services-about-us__icon {
    position: relative;
    &::before {
        content: "";
        background: url("/images/icons/bgButton.jpg") center / cover no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.5;
    }
    border-radius: 50%;
    overflow: hidden;
    width: 140px;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    @media (max-width: 510px) {
        width: 80px;
    }
    img {
        position: relative;
        max-width: 100%;
    }
}

.services-about-us__label {
    font-family: $fontFamilySecond;
    font-size: clamp(0.875rem, 0.715rem + 0.8vw, 1.5rem);
    text-transform: capitalize;
    text-align: center;
    color: $mainColor;
}


