@import "../AdditionalStyles/Mixins/mixins.scss";
@import "../AdditionalStyles/ResetStyles/ResetStyles.css";

body {
    font-family: $fontFamily;
    color: $mainColor;
    background-color: #efe9dd;
    overflow-x: hidden !important;
    
    &::-webkit-scrollbar {
        width: 8px ;
    }
    &::-webkit-scrollbar-track {
        margin-top: clamp(6.313rem, 3.076rem + 6.55vw, 9.5rem);
        background: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #9b8573; 
        border-radius: 10px ;
    } 
}

[class*="__container"] {
    max-width: $maxWidthContainer;
    margin: 0 auto;
    padding: 0 20px;
}

[class*="-ibg-contain"] {
    img {
        object-fit: contain;
    }
}

.main {
    flex: 1;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}